# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
.sass-cache

# Dev stuff
Makefile
Gemfile.lock
_config.dev.yml
.vscode
*.gem
_posts/2017-06-27-MD 올라가는 형식/스크린샷 2018-01-23 18.24.09 복사본 (유니코드 인코딩 충돌).png
